.ep-node-item {
    margin: 10px 0;
}

.ep-node-item a {
    text-decoration: none;
}

.ep-card {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .12);
}

.ep-node-item:hover .ep-card {
    box-shadow: 0 1px 1px 0 rgba(0, 255, 0, .14), 0 1px 1px 3px rgba(0, 255, 0, .2), 0 1px 5px 0 rgba(0, 255, 0, .12);
}

.ep-card.selected {
    box-shadow: 0 1px 1px 0 rgba(0, 255, 0, .14), 0 1px 1px 3px rgba(0, 255, 0, .2), 0 1px 5px 0 rgba(0, 255, 0, .12);
}

.ep-card.selected .selection {
    display: block;
}

.card .selection {
    position: absolute;
    top: 5px;
    right: 0px;
    padding: 0;
    margin: 0 !important;
    display: none;
}

.ep-card-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ep-node-item:hover .card .selection {
    display: block;
}

.ep-checkbox {
    position: relative;
    margin: 16px 0;
}

.ep-checkbox label {
    cursor: pointer;
}

.ep-checkbox label:before,
.ep-checkbox label:after {
    content: "";
    position: absolute;
    left: -4px;
    top: 0;
}

.ep-checkbox label:before {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    cursor: pointer;
    transition: background .3s;
}

.ep-checkbox input[type="checkbox"] {
    outline: 0;
    margin-right: 10px;
}

.ep-checkbox input[type="checkbox"]:checked+label:before {
    background: #337ab7;
    border: none;
}

.ep-checkbox input[type="checkbox"]:checked+label:after {
    transform: rotate(-45deg);
    top: 5px;
    left: 0;
    width: 12px;
    height: 6px;
    border: 2px solid #fff;
    border-top-style: none;
    border-right-style: none;
}

.ep-checkbox label:before,
.ep-checkbox label:after {
    box-sizing: border-box;
}