:root {
    --breadcrumb-theme-1: #8BC34A;
    --breadcrumb-theme-2: #fff;
    --breadcrumb-theme-3: #4CAF50;
    --breadcrumb-theme-4: #9d0f3e;
}

.ep-icon {
    position: relative;
    top: 4px;
    right: 7px;
    font-size: 20px;
}

.ep-bc-item {
    font-size: 0.85em;
}

.ep-bc-item::before {
    margin-right: 10px;
}

.ep-bc-item a {
    color: var(--breadcrumb-theme-3);
}