:root {
    --breadcrumb-theme-1: #00695c;
    --breadcrumb-theme-2: #fff;
    --breadcrumb-theme-3: #4CAF50;
    --breadcrumb-theme-4: #9d0f3e;
}

.ep-icon {
    position: relative;
    top: 4px;
    right: 7px;
    font-size: 20px;
}

.ep-breadcrumb {
    background-color: var(--breadcrumb-theme-1) !important;
}

.ep-bc-item {
    font-size: 0.85em;
}

.ep-bc-item.active {
    color: var(--breadcrumb-theme-2);
}

.ep-bc-item::before {
    margin-right: 10px;
    color: var(--breadcrumb-theme-2) !important;
}

.ep-bc-item a {
    color: var(--breadcrumb-theme-2);
}