.ep-list-group-item:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.ep-list-group-item:nth-child(odd) {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.ep-menu {
    background-color: #2BBBAD !important;
    box-shadow: 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.12);
    padding: 5px 10px 0 10px;
}