.ep-list-group-item:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.ep-list-group-item:nth-child(odd) {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}