.ep-list-group-item:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.ep-list-group-item:nth-child(odd) {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.ep-menu {
    background-color: var(--box-them-3);
    box-shadow: 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.12);
    margin: 0 -15px;
    background-color: #f4f4f4 !important;
    padding: 5px 10px 0 10px;
}