.ep-wrapper {
    margin: 24px;
}

.ep-group {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0 10px 0;
}

.ep-list-item {
    width: 40px;
    height: 40px;
    margin-left: 0;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #ec407a !important;
}

.ep-list-item .material-icons {
    color: #fce4ec;
}

.ep-button {
    border-radius: 50%;
    min-width: 40px;
    width: 40px;
    height: 40px;
}

.mdc-grid-tile__icon.material-icons {
    cursor: pointer;
}